.login{
    position: absolute;
    top: 10px;
    right: 0;
}

.my-navbar{
    background-color: #ffffff !important;
    padding: 10px 0;
}
.main{
    background-color: #efefef;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mb20{
    margin-bottom: 20px;
}

/*index*/
.index-post>h5,
.index-course>h5,
.index-special>h5{
    margin-bottom: 20px;
}

.post-list{
    margin-bottom: 20px;
    line-height: 30px;
}
.post-list .post-menu{
    line-height: 40px;
    background-color: #f8f9fa;
}
.post-list .post-menu a{
    margin-right: 5px;
}
.post-list .post-image{
    width: 35px;
    margin-right: 10px;
}

.post-list .post-title{
    color: #555555;
}
.post-list .post-title:hover{
    color: #333333;
    text-decoration: none;
}

.post-list .post-attr{
    color: #aaaaaa;
    font-size: 14px;
}
.post-list .float-left,
.post-list .float-right{
    padding: 0;
}

/*post detail*/
.post-detail{
    background-color: #ffffff;
    padding: 20px;
}
.post-detail .post-attr{
    color: #aaaaaa;
    border-bottom: 1px solid #dddddd;
    padding: 5px 0 10px 0;
    margin-bottom: 10px;
    font-size: 14px;
}
.post-detail .post-attr span{
    margin-right: 10px;
}
.post-detail .post-tags{
    margin: 15px 0;
}

.post-comment{
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}
.post-comment-title{
    padding: 0 0 15px 0;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
}
.post-comment-title span{
    font-size: 22px;
    font-weight: bold;
}
.post-comment-title a{
    margin-top: 10px;
    color: #FFFFFF !important;
}
.post-comment-list{
    margin-bottom: 20px;
}

.post-comment-attr i{
    color: #aaaaaa;
    cursor: pointer;
}
.post-comment-attr i:hover{
    color: #666666;
}

.post-comment .media img{
    width: 55px;
    height: 55px;
    border-radius: 30px;
}
.post-create-comment{
    margin: 20px 0;
    padding: 20px;
    background-color: #FFFFFF;
}

/* course */
.course-list .card-title a{
    color: #555555;
}
.course-list .card-title a:hover{
    text-decoration: none;
    color: #333333;
}
.course-detail{
    background-color: #FFFFFF;
    padding: 20px;
}
.course-detail .course-introduction{
    color: #888888;
    font-size: 14px;
}
.course-detail img{
    width: 300px;
}
.course-chapter a{
    color: #555555;
    margin-right: 10px;
}
.course-chapter a:hover{
    color: #333333;
    text-decoration: none;
}
.course-chapter .course-chapter-time{
    color: #aaaaaa;
    font-size: 14px;
}

/* book */
.book-list{
    background-color: #FFFFFF;

}
.book-list img{
    width: 100px;
}
.book-list li{
    border-bottom: 1px solid #eeeeee;
    padding: 20px;
}
.book-list h3 a{
    color: #333333;
}
.book-list .book-introduction{
    color: #777777;
    font-size: 14px;
}

.book-list .book-attr{
    color: #aaaaaa;
    margin-bottom: 0;
    font-size: 14px;
}
.book-list .book-attr span{
    margin-right: 10px;
}

.book-content{
    padding: 20px;
    background-color: #FFFFFF;
}

.book-content .book-header,
.book-content .book-footer{
    height: 90px;
    background-color: #eeeeee;
}

.prise{
    margin: 20px auto;
}

.post-form{
    background-color: #ffffff;
    padding: 20px;
}
.user-card{
    border: 0;
    border-radius: 0;
}
.user-card img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 20px auto 0;
}

.footer{
    background-color: #333333;
    color: #dddddd;
    padding: 20px 0;
    text-align: center;
}
.footer p{
    margin-bottom: 0;
    line-height: 30px;
}