{{ define "content" }}

<div>
    <div class="index-post">
        <h5 class="text-center">热门文章</h5>
        <ul class="list-group post-list">
            {{ range $k, $post := .posts }}
            <li class="list-group-item">
                <a href="/posts/{{ $post.Id }}">
                    <div class="col-md-9 float-left">
                        {{ if eq $post.IsTop 1 }}
                        <span class="badge badge-danger">置顶</span>
                        {{ end }}
                        {{ if eq $post.IsRecommend 1 }}
                        <span class="badge badge-info">热门</span>
                        {{ end }}
                        {{ $post.Title }}
                    </div>
                    <div class="col-md-3 float-right text-right post-attr">
                        <i class="fa fa-thumbs-o-up"></i> {{ $post.ReadNumber }}
                        <span>/</span>
                        <i class="fa fa-comments"></i> {{ $post.ReadNumber }}
                        <span>/</span>
                        5分钟前
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>

    <div class="index-course mb20">
        <h5 class="text-center">最新课程</h5>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/asset/image/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/asset/image/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/asset/image/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/asset/image/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="index-special">
        <h5 class="text-center">热门专栏</h5>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/asset/image/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/asset/image/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/asset/image/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/asset/image/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}